<div class="jumbotron">
  <div class="container text-center">
    <h1 class="display-4">
      <i class="fa fa-map-signs"></i>
      <br>
      LAW OF JUNGLE!
    </h1>

    <hr>

    <h4 class="text-muted">From city to jungle ... finding for GOLDEN EGG !!</h4>
    <br>
    <div class="text-center">
      <%= link_to new_card_path, class: 'btn btn-lg btn-primary' do %>
        <i class="fa fa-plus"></i> <!-- .fa fa-plus -->
        Add New Card
      <% end %>
    </div> <!-- .text-center -->
  </div> <!-- .container -->
</div> <!-- .jumbotron -->

<%# TODO: Render latest card. %>
