<div class="jumbotron">
  <div class="container text-center">
    <h1 class="display-4">
      <i class="fa fa-map-signs"></i>
      <br>
      LAW OF JUNGLE!
    </h1>

    <hr>

    <h4 class="text-muted">From city to jungle ... finding for GOLDEN EGG !!</h4>
    <br>
    <div class="text-center">
      <%= link_to new_card_path, class: 'btn btn-lg btn-primary' do %>
        <i class="fa fa-plus"></i> <!-- .fa fa-plus -->
        Add New Card
      <% end %>
    </div> <!-- .text-center -->
  </div> <!-- .container -->
</div> <!-- .jumbotron -->

<div class="container">
  <h2>
    Recent Cards
    <div class="pull-right">
      <%= link_to 'View All', cards_path, class: 'btn btn-link' %>
    </div> <!-- .pull-right -->
  </h2>
  <hr>

  <div class="row">
    <% @cards.each do |card| %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <%= render partial: 'cards/card', object: card, locals: { disabled_action: true } %>
      </div> <!-- .col-xs-12 col-sm-12 col-md-6 col-lg-4 -->
    <% end %>
  </div> <!-- .row -->
</div> <!-- .container -->

<%# TODO: Render latest card. %>
