<br>
<div class="container">
  <div class="pull-right">
    <%= link_to new_card_path, class: 'btn btn-primary' do %>
      <i class="fa fa-plus"></i> <!-- .fa fa-plus -->
      Add New Card
    <% end %>
  </div> <!-- .pull-right -->

  <h2>Cards</h2>
  <p class="text-muted">
    Total Cards: <%= pluralize @cards.count, 'card' %>
  </p> <!-- .text-muted -->
  <hr>

  <div class="row">
    <% @cards.each do |card| %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <%= render partial: 'cards/card', object: card %>
      </div> <!-- .col-xs-12 col-sm-12 col-md-6 col-lg-4 -->
    <% end %>
  </div> <!-- .row -->
</div> <!-- .container -->
