html {
  body {
    font-family: 'Kanit', sans-serif;
    color: #555;
  }

  .card-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 290px;

    .badge {
      font-size: 13px;
      padding: 9px 15px;
    }
  }

  .card {
    background-color: #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    color: #333;
    display: inline-block;
    height: 406px;
    margin: 10px 0;
    position: relative;
    width: 290px;

    .card-title {
      background-color: #fff;
      border: 1px solid transparent;
      border-radius: 3px;
      box-shadow: none;
      box-sizing: border-box;
      color: #333;
      font-size: 16px;
      outline: none;
      padding: 3px 50px 3px 8px;
      position: absolute;
      left: 10px;
      top: 10px;
      width: 270px; //233
    }

    .card-image-placeholder {
      background-color: #eee;
      border-radius: 3px;
      color: rgba(#333, 0.2);
      font-size: 70px;
      padding-top: 50px;
      position: absolute;
      text-align: center;
      left: 10px;
      height: 185px;
      top: 52px;
      width: 270px;
    }

    .card-description {
      background-color: #fff;
      border-radius: 3px;
      border: 1px solid transparent;
      box-shadow: none;
      box-sizing: border-box;
      color: #333;
      font-size: 13px;
      line-height: 18px;
      outline: none;
      overflow: hidden;
      padding: 3px 8px;
      position: absolute;
      left: 10px;
      height: 148px;
      resize: none;
      top: 248px;
      white-space: pre-wrap;
      width: 270px;
    }

    .card-type-icon {
      font-size: 17px;
      height: 26px;
      opacity: 0.5;
      padding: 0 5px;
      position: absolute;
      right: 10px;
      top: 14px;
      width: 28px;
    }

    &.item_help {
      background-color: #99ccff;
      color: #0059b3;

      .card-title, .card-description {
        background-color: #cce6ff;
        color: #0059b3;
      }

      .card-image-placeholder {
        background-color: #b3d9ff;
        color: rgba(#0059b3, 0.2);
      }
    }

    &.item_poke {
      background-color: #ff9999;
      color: #b30000;

      .card-title, .card-description {
        background-color: #ffe6e6;
        color: #b30000;
      }

      .card-image-placeholder {
        background-color: #ffb3b3;
        color: rgba(#b30000, 0.2);
      }
    }

    &.event_town {
      background-color: #e6ccb3;
      color: #4d3319;

      .card-title, .card-description {
        background-color: #f9f2ec;
        color: #4d3319;
      }

      .card-image-placeholder {
        background-color: #ecd9c6;
        color: rgba(#4d3319, 0.2);
      }
    }

    &.event_jungle {
      background-color: #c6ecc6;
      color: #2b882b;

      .card-title, .card-description {
        background-color: #ecf9ec;
        color: #2b882b;
      }

      .card-image-placeholder {
        background-color: #d8f3d8;
        color: rgba(#2b882b, 0.2);
      }
    }
  }

  .card-creator-detail {
    font-size: 14px;
    margin-top: -17px;
  }
}
